{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "unicorn/filename-case": "off",
    "unicorn/catch-error-name": "off",
    "object-curly-spacing": "off",
    "semi":"off",
    "no-await-in-loop": "off",
    "operator-linebreak": "off"
  }
}
